<h1 class="text-center"> Редактирование книги </h1>
<form class="col-6 mx-auto bg-info" style="border-radius: 20px" [formGroup]="myForm" novalidate>
  <div class="form-group">
    <br>
    <label>Имя книги:</label>
    <input class="form-control" name="name" formControlName="bookName"/>
  </div>
  <div class="form-group">
    <label>Жанр:</label>
    <input class="form-control" name="genre" formControlName="bookGenre"/>
  </div>
  <div formArrayName="authors">
    <label>Авторы:</label>
    <div *ngFor="let author of getFormsControls()['controls']; let i = index">
      <div class="input-group" style="margin-top:15px">
        <input class="form-control" formControlName="{{i}}"/>
        <button class="delete-button btn btn-danger" style="margin-left:10px" (click)="deleteAuthor(i)">
          X
        </button>
      </div>
    </div>
  </div>

  <div class="form-group" style="text-align: center">
    <button class="add-btn btn btn-dark" (click)="addAuthor()">
      Добавить автора
    </button>
    <button (click)="submit()" class="btn btn-success" [disabled]="myForm.invalid">
      Отправить
    </button>
  </div>
</form>
